﻿@using PagedList
@model IPagedList<Project2WooxTravel.Entities.Category>

@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="container">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Kategori İşlemleri</div>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Kategori Adı</th>
                                    <th scope="col">Güncelle</th>
                                    <th scope="col">Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.CategoryId</td>
                                        <td>@item.CategoryName</td>
                                        <td>
                                            <a href="/Admin/Category/UpdateCategory/@item.CategoryId" class="btn btn-warning">Güncelle</a>
                                        </td>
                                        <td>
                                            <a href="/Admin/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger">Sil</a>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>


                        @if (Model.PageCount > 1)
                        {
                            <div class="pagination">
                                @for (int i = 1; i <= Model.PageCount; i++)
                                {
                                    <a href="@Url.Action("CategoryList", new { page = i })" class="btn btn-link">@i</a>
                                }
                            </div>
                        }
                        <a href="@Url.Action("CreateCategory", "Category")" class="btn btn-primary">Yeni Kategori Girişi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>